/backend/vendor
/backend/.env
/backend/database/*.sqlite
/backend/bootstrap/cache/*
!/backend/bootstrap/cache/.gitignore
/backend/storage/*
!/backend/storage/app
!/backend/storage/framework
!/backend/storage/logs
!/backend/storage/app/.gitignore
!/backend/storage/framework/.gitignore
!/backend/storage/logs/.gitignore
/backend/storage/*.key
/frontend/node_modules
/frontend/dist
.DS_Store
